body{ background: linear-gradient(180.3deg, rgb(214, 224, 255) 37.2%, rgb(254, 168, 168) 137.3%);
   padding-bottom: 140px;
}
.Weather{
   border: 1px solid #dadde1;
   border-radius: 4px;
   margin:40px auto auto 0;
   font-family: arial, sans-serif;
   padding: 16px;
   color: rgb(135,135,135);
   background-color: rgb(247, 242, 242);
 
  
}
.Weather h1{
   font-size: 24px;
   font-weight: 100;
   margin: 20px 0 0 0;
   line-height: 29px;
}
.Weather ul{
margin:0;
padding:0;
}
.Weather li{
   font-size: 16px;
   font-weight: 100;
   line-height: 19px;
   list-style: none;
}


.Weather .temperature{
   font-weight: bold;
   color: rgb(33,33,33);
   line-height: 64px;
   font-size: 64px;
   font-weight: 400; 
   
}
.Weather .unit{
   font-size: 16px;
   color: rgb(33,33,33);
   font-weight: 400;
   position: relative;
   top: -34px;
   line-height: 1px;
   margin-left: 0;
}
.Weather .details{
   padding-left: 70px;
}